// #banner-home-auto
//   .section-icons
//     // // font-weight:600
//     .section-icon
//       text-align: center
//     //   display: inline-block
//     //   @media (max-width: 760px)
//     //     display:flex
//     //     flex-direction:column
//     //   width:30% !important
//       .icon
//         width:100px
//         // float: left
//     //   .text
//     //     padding-left: 115px
//     //     @media (max-width: 760px)
//     //       padding-left:10px
//     //     padding-top: 10px
//     //     font-weight: 100
//     //     font-size: 14px

#banner-home-bajada
  padding: 0;
  margin-bottom: 0
  .jumbotron-body
    text-align: center
    padding: 20vh 0;
    // gradient background from purple to cyan
    background: linear-gradient(to bottom, #7b4397dd 0%, #dc243055 100%);
    border-bottom: 10px solid #679ED5
  .bajada-image
    width: 100%
    max-width: 400px
    margin: 0 auto
    display: block
    margin-bottom: 20px
  .bajada-text
    color: #FFF
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
    @media screen and (min-width: 700px) {
      font-size: 6rem 
    }
  .bajada-logo
    margin-bottom: 20px;