// #banner-home-auto
//   .section-icons
//     // // font-weight:600
//     .section-icon
//       text-align: center
//     //   display: inline-block
//     //   @media (max-width: 760px)
//     //     display:flex
//     //     flex-direction:column
//     //   width:30% !important
//       .icon
//         width:100px
//         // float: left
//     //   .text
//     //     padding-left: 115px
//     //     @media (max-width: 760px)
//     //       padding-left:10px
//     //     padding-top: 10px
//     //     font-weight: 100
//     //     font-size: 14px

#banner-home-bajada
  .jumbotron-body
    text-align: center
    padding: 120px 0
  .bajada-image
    width: 100%
    max-width: 400px
    margin: 0 auto
    display: block
    margin-bottom: 20px
  .bajada-text
    color: #000
    letter-spacing: 2px
    font-size: 25px;
  .bajada-logo
    margin-bottom: 20px;