.topic-article-header
  position relative
  padding-top:0
  border-bottom: 1px solid #707070;
  margin-bottom: 30px;
  .after-title-flex
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  &.isclosed
    padding-top:7px

  h1
    font-size 2em
    margin 0.2em 0 0.6em 0
    color: #383838;

  h4
    text-align center
    margin 35px 0 0 0
    text-transform uppercase
    font-size 11px
  span.author
    color #383838
    font-size 16px
    font-weight normal
    // margin 0 0 1em 0
    padding-right: 30px;
    border-right: 1px solid #707070;
    

  .meta-information
    margin-bottom 0px
    color #666
    font-size 16px

    .icon-clock
      margin-right 6px
      font-size 13px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

  .topic-tags
    margin: 0 0 0 30px
    // a
    //   background: #a5a5a5
    //   padding: 10px 20px
    //   margin: 5px 5px 0 0
    //   display: inline-block
    //   border-radius: 10px
    //   color: #fff
    //   font-size: 12px
    //   font-weight: 400
    //   &:hover
    //     text-decoration: none
    /* ext */
    span
      background: #DBDBDB
      padding: 3px 10px
      margin: 5px 5px 0 0
      display: inline-block
      border-radius: 5px
      color: #383838
      font-size: 14px
      font-weight: 400
@media screen and (max-width: 1157px)
  .entry-tag
    display none
