#topic-wrapper
  height inherit
  display flex

@import './sidebar/styles'
@import './topic-article/styles'
@import './forum-topic-cards/styles'

.ext-topic-layout
  background-color: #F9F9F9
// /* ext */
// .ext-topic-layout
//   @import './topic-article/styles.styl'

//   .topic-comments-form
//     .actions
//       .btn
//         margin-bottom: 0

//   .comments-sort
//     .comments-sort-btn
//       background-color: transparent !important

//     .caret
//       top: .6em

.header-picture-container
  height:300px
  background-position:center;
  background-size:cover;
  
li.sortable-li.sortable-li-focus
  line-height:inherit