.topic-footer
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  width 100%
  .source
    p
      font-size: 16px
      a
        color: $primary-color
        font-weight: 400

  .links
    p
      font-size: 16px
      margin-bottom 5px
      a
        color: $primary-color
        font-weight: 400

